<!DOCTYPE html>
<html lang="en">
    
<head>
    <link rel="stylesheet" href="css/websitestyle.css">
    <link rel="stylesheet" href="vendor/fontello-00cf3757/css/fontello.css">
    <style>
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experimental Music</title>
</head>

<header>
    <%- include('nav.ejs') %>
</header>
<body>

    
    <div class = "topbox-container" id="top">
        <div class = "default-container">
            <div class = "topbox-itemtop-1">Experimental Music. To explore your emotive range.</div>
            <div class = "topbox-itemtop-2">"Experimental music" was a phrase used in the mid-twentieth-century to 
                describe a range of ultramodernist compositional techniques as being a form of quasi-scientific research. - The Fader </div>
            <div><a href="#Albums" class = "linkylink">Go to Albums Section</a></div>
        </div>
    </div>

    <div class ="why-section">
        <div class ="default-container">
            <h2 class="exp-h2">Why?</h2>
            <p>This website represents a database that attempts to make a detailed repository of a magnitude of details about 
                experimental music. Experimental music is often overlooked as crazy, noisy and exhausting with artists often garnering a cult following
                but remaining relativly unknown in the public sphere, there are a few exceptions like the Icelandic Artist Bjork, but most artists fall into 
                obscurity. This database can be specially made to a users requirements.
            </p>
        </div>
    </div>
    <div class = "outer-container">
        <div class = " list-num-head">We promise</div>
            <div class = "list-num-container">
                <div class = "list-point">
                    <img src="img/028-1.svg" alt="" class="list-num-img">
                    <div class = "list-num-text">Reference to a briliant Artist</div>
                </div>
                <div class = "list-point">
                    <img src="img/029-2.svg" alt="" class="list-num-img">
                    <div class = "list-num-text">We won’t outsource anything. Everything is researched and investigated in-house.</div>
                </div>
                <div class = "list-point">
                    <img src="img/030-3.svg" alt="" class="list-num-img">
                    <div class = "list-num-text">Your information will be for you and your audience not us and our “hipster” egos. </div>
                </div>
                <div class = "list-point">
                    <img src="img/031-4.svg" alt="" class="list-num-img">
                    <div class = "list-num-text">We will deliver information that correctly responds to the brief we wrote together with you.</div>
                </div>
        </div>
    </div>


    <div class = '' id ="Albums">
        <div class ="default-container Albums-blurb">
            <p>We've found that most of the Experimental music fans can fit neatly into different categories.
                 To make it easy we've developed Four Artistic references.
                 Each artist fit for a different purpose and ending with a specific result. If one is interested in these artists the 
                request for info will come back with recommendations, further expanding the site and database.</p>
        </div>


        <div class="squiggles"></div>


        <div class = "outer-container body-repeat">
            <div class="frame-box-infoTop">

                <div class = "frame-box-infoNarrow">
                    <img src="" alt="" >
                    <div id="frame0" class="frame-box-frame"></div>
                    
                    <img src="img/thick-squiggle.png" alt="" class="small-squiggle">
                    <h1 class="frame-bulletpoint">Death Grips Exmilitary<br>Noise Rap</h1>
                </div>
                <div class = "frame-box-infoWide">
                    <div class = "frame-box-textExplain" id="text-Colour0">
                        
                    </div>
                    <div class="frame-box-body">
                        <div  class="frame-box-body-point">
                            <div class="flex">
                                <div class="frame-box-body-text">Unanimous Praise</div>
                            </div>
                            <div class="frame-box-body-minor">Poster Childs of Modern Experimental</div>
                        </div>
                        <div class="frame-box-body-line"></div>
                        <div class="">
                            <div class="frame-box-body-text">3 Members</div>
                            <div class="frame-box-body-minor">Boundless Talent</div>
                        </div>
                        <div class="frame-box-body-line"></div>
                        <div class = "icon-music nav-picture"></div>
                    </div>
                    
                    <div class = "frame-box-smallDetail"> 

                    </div>
                </div>
            </div>

            <div class="frame-box-infoBottom">
                <div class = "frame-box-smallDetail"> </div>
                <div class="frame-box-infoWide">
                    <div class="frame-list">
                        <div class="frame-box-list">Includes:</div>
                        <p class="frame-box-list-point">Extreme Engergy<br></p>
                        <p class="frame-box-list-point">New Punk Vibes<br></p>
                        <p class="frame-box-list-point">Loud Beats<br></p>
                        <p class="frame-box-list-point">Mind bending lyrics<br></p>
                    </div>
                </div>
                <div class = "frame-box-infoNarrow"><a href="/requests" class = "linkylink frame-box-info" id="linkbox0" ></a></div>
            </div>
        </div>

        <%- include('yellow-squiggles.ejs') %>

        <div class = "outer-container body-repeat">
            <div class="frame-box-infoTop">

                <div class = "frame-box-infoNarrow">
                    <img src="" alt="" >
                    <div id="frame1" class="frame-box-frame"></div>
                    
                    <img src="img/thick-squiggle.png" alt="" class="small-squiggle">
                    <h1 class="frame-bulletpoint">Bjork Post<br>Art Pop</h1>
                </div>
                <div class = "frame-box-infoWide">
                    <div class = "frame-box-textExplain" id="text-Colour1">
                        
                    </div>
                    <div class="frame-box-body">
                        <div  class="frame-box-body-point">
                            <div class="flex">
                                <div class="frame-box-body-text">1,000,000</div>
                            </div>
                            <div class="frame-box-body-minor">Platinum Selling Artist</div>
                        </div>
                        <div class="frame-box-body-line"></div>
                        <div class="">
                            <div class="frame-box-body-text">Iceland</div>
                            <div class="frame-box-body-minor">Big energy, tiny island</div>
                        </div>
                        <div class="frame-box-body-line"></div>
                        <div class = "icon-music nav-picture"></div>
                    </div>
                    
                    <div class = "frame-box-smallDetail"> 

                    </div>
                </div>
            </div>

            <div class="frame-box-infoBottom">
                <div class = "frame-box-smallDetail"> </div>
                <div class="frame-box-infoWide">
                    <div class="frame-list">
                        <div class="frame-box-list">Includes:</div>
                        <p class="frame-box-list-point">Mix of Sounds<br></p>
                        <p class="frame-box-list-point">Great Vocal performance<br></p>
                        <p class="frame-box-list-point">Energy Varierty<br></p>
                        <p class="frame-box-list-point">Commercial Success<br></p>
                    </div>
                </div>
                <div class = "frame-box-infoNarrow"><a href="/requests" class = "linkylink frame-box-info" id="linkbox1" ></a></div>
            </div>
        </div>

        <%- include('yellow-squiggles.ejs') %>


        <div class = "outer-container body-repeat">
            <div class="frame-box-infoTop">

                <div class = "frame-box-infoNarrow">
                    <img src="" alt="" >
                    <div id="frame2" class="frame-box-frame"></div>
                    
                    <img src="img/thick-squiggle.png" alt="" class="small-squiggle">
                    <h1 class="frame-bulletpoint">Quelle Chris Guns<br>Underground Hip-hop</h1></h1>
                </div>
                <div class = "frame-box-infoWide">
                    <div class = "frame-box-textExplain" id="text-Colour2">
                        
                    </div>
                    <div class="frame-box-body">
                        <div  class="frame-box-body-point">
                            <div class="flex">
                                <div class="frame-box-body-text">Consistancy</div>
                            </div>
                            <div class="frame-box-body-minor">Most consistant catalougue</div>
                        </div>
                        <div class="frame-box-body-line"></div>
                        <div class="">
                            <div class="frame-box-body-text">Detroit Reborn</div>
                            <div class="frame-box-body-minor">Detroit Continues to rebuild with stellar artists shining</div>
                        </div>
                        <div class="frame-box-body-line"></div>
                        <div class = "icon-music nav-picture"></div>
                    </div>
                    
                    <div class = "frame-box-smallDetail"> 

                    </div>
                </div>
            </div>

            <div class="frame-box-infoBottom">
                <div class = "frame-box-smallDetail"> </div>
                <div class="frame-box-infoWide">
                    <div class="frame-list">
                        <div class="frame-box-list">Includes:</div>
                        <p class="frame-box-list-point">Easy Flows<br></p>
                        <p class="frame-box-list-point">Mostly simple grooves<br></p>
                        <p class="frame-box-list-point">In-depth Lyrics<br></p>
                        <p class="frame-box-list-point">Softly experimental<br></p>
                    </div>
                </div>
                <div class = "frame-box-infoNarrow"><a href="/requests" class = "linkylink frame-box-info" id="linkbox2" ></a></div>
            </div>
        </div>

        <%- include('yellow-squiggles.ejs') %>


        <div class = "outer-container body-repeat">
            <div class="frame-box-infoTop">

                <div class = "frame-box-infoNarrow">
                    <img src="" alt="" >
                    <div id="frame3" class="frame-box-frame"></div>
                    
                    <img src="img/thick-squiggle.png" alt="" class="small-squiggle">
                    <h1 class="frame-bulletpoint">Slowthai Nothing Great about Britain<br>British Rap/Grime</h1></h1>
                </div>
                <div class = "frame-box-infoWide">
                    <div class = "frame-box-textExplain" id="text-Colour3">
                        
                    </div>
                    <div class="frame-box-body">
                        <div  class="frame-box-body-point">
                            <div class="flex">
                                <div class="frame-box-body-text">NME Awards</div>
                            </div>
                            <div class="frame-box-body-minor">Rookie Artist makes a great ambassador</div>
                        </div>
                        <div class="frame-box-body-line"></div>
                        <div class="">
                            <div class="frame-box-body-text">HUGE Debut</div>
                            <div class="frame-box-body-minor">1st Album an instant Classic</div>
                        </div>
                        <div class="frame-box-body-line"></div>
                        <div class = "icon-music nav-picture"></div>
                    </div>
                    
                    <div class = "frame-box-smallDetail"> 

                    </div>
                </div>
            </div>

            <div class="frame-box-infoBottom">
                <div class = "frame-box-smallDetail"> </div>
                <div class="frame-box-infoWide">
                    <div class="frame-list">
                        <div class="frame-box-list">Includes:</div>
                        <p class="frame-box-list-point" id="listpoint0">Extremely Engrossing<br></p>
                        <p class="frame-box-list-point" id="listpoint1">Strong themes<br></p>
                        <p class="frame-box-list-point" id="listpoint2">Wholely Unique<br></p>
                        <p class="frame-box-list-point" id="listpoint3">Variety of Sounds<br></p>
                    </div>
                </div>
                <div class = "frame-box-infoNarrow"><a href="/requests" class = "linkylink frame-box-info" id="linkbox3" ></a></div>
            </div>
        </div>
    </div>

    <div class = "process-section">
        <div class = "process-container">
            <h2 class = "exp-h2">Our Process</h2>
            <h3 class = "exp-h3">
                Our process is simple and effective.
                 From start to finish, without any unexpected delays, we can be sure to get your project completed within the timeframe agreed upon.
            </h3>
        </div>
        <div class = "process-container">
            <div class = "process-click">
                <div class = "process-click-show" style="display: inline-block" onclick="toggle_visibility('.process-processes' , '.process-click-show' )">Show our 9-step Process</div>
            </div>
            <div class="process-processes">
                <div class="process-process-container drop-list-list">
                    <div class="process-process-steps drop-list-items">
                        <div class="process-process-step drop-list-item">
                            <p class="process-process-step-text">Select an option from above and answer the questions on the online form</p>
                            <img src="img/028-1.svg" alt="" class="process-process-step-image">
                        </div>
                        <div class="process-process-step drop-list-item">
                            <p class="process-process-step-text">We respond with additional questions to help us understand your goals</p>
                            <img src="img/029-2.svg" alt="" class="process-process-step-image">
                        </div>
                        <div class="process-process-step drop-list-item">
                            <p class="process-process-step-text">We finalise the brief together and agree on a schedule</p>
                            <img src="img/030-3.svg" alt="" class="process-process-step-image">
                        </div>
                        <div class="process-process-step drop-list-item">
                            <p class="process-process-step-text">You pay the deposit and send over any available content and assets</p>
                            <img src="img/031-4.svg" alt="" class="process-process-step-image">
                        </div>
                        <div class="process-process-step drop-list-item">
                            <p class="process-process-step-text">We prepare the mockup and get your approval</p>
                            <img src="img/032-5.svg" alt="" class="process-process-step-image">
                        </div>
                        <div class="process-process-step drop-list-item">
                            <p class="process-process-step-text">We build the database and give you access</p>
                            <img src="img/033-6.svg" alt="" class="process-process-step-image">
                        </div>
                        <div class="process-process-step drop-list-item">
                            <p class="process-process-step-text">We provide you with documentation and instructions for your new data</p>
                            <img src="img/034-7.svg" alt="" class="process-process-step-image">
                        </div>
                        <div class="process-process-step drop-list-item">
                            <p class="process-process-step-text">The database is tested by yourselves and us</p>
                            <img src="img/035-8.svg" alt="" class="process-process-step-image">
                        </div>
                        <div class="process-process-step drop-list-item">
                            <p class="process-process-step-text">We launch the database on your domain and you settle the final payment</p>
                            <img src="img/036-9.svg" alt="" class="process-process-step-image">
                        </div>
                    </div>
                </div>
                <div class="process-process-final-step">
                    <p class="process-process-final-step-text">Don't worry, we don't leave you to tackle your new digital tool alone. We continue supporting you for a time after launch.</p>
                    <img src="img/music.svg" alt="" class="process-process-step-image">
                </div>
            </div>
        </div>
        
    </div>

    <div  class="squiggles"> </div>


    <div class="brief-section"> 
        <div class = "brief-container">
            <div class="brief-frame-box">
                <div class="brief-frame-title">
                    <h3 class ="request-title">Experi<br>ment</h3>
                    <img src="img/frame.png" class="frame-box-frame brief-frame-frame"></img>
                </div>
                <div class ="brief-details">
                    <h2 class ="brief-text">Wait what is the product?</h2>
                    <a href="#top" class = "linkylink">Back to the Beginning</a>
                </div>
            </div>
        </div>
    </div>


    <div  class="squiggles"> </div>

    <div class ="recommend-section">
        <div class ="default-container">
            <h2 class="exp-h2">Who Recommends</h2>
		    <h3 class="exp-h3">These are just a few highly rated reviews for experimental albums.</h3>
			<div class="list">
				<div class="">
					<div class=""><a href="https://pitchfork.com/reviews/albums/bjork-post/" class="recommend-link">Bjork</a></div>
					
					<div class=""><a href="https://pitchfork.com/reviews/albums/captain-beefheart-and-his-magic-band-trout-mask-replica/" class="recommend-link">Captain Beefheart</a></div>
					
					<div class=""><a href="https://www.metacritic.com/music/cosmogramma/flying-lotus" class="recommend-link">flying lotus</a></div>
					
					<div class=""><a href="https://pitchfork.com/reviews/albums/jpegmafia-veteran/" class="recommend-link">jpegmafia</a></div>
					
					<div class=""><a href="https://www.metacritic.com/music/the-money-store/death-grips" class="recommend-link">Death Grips</a></div>
					
					<div class=""><a href="https://www.theguardian.com/music/2019/dec/13/fank-zappa-hot-rats-album-music-anniversary" class="recommend-link">frank zappa</a></div>
					
					<div class=""><a href="https://pitchfork.com/reviews/albums/5579-madvillainy/" class="recommend-link">Madvillain</a></div>
					
					<div class=""><a href="https://pitchfork.com/reviews/albums/slowthai-nothing-great-about-britain/" class="recommend-link">Slowthai</a></div>
				</div>
			</div>
        </div>
    </div>

    <div  class="squiggles"> </div>

    <div class = "fine-print-section">
        <div class ="default-container">
            <h2 class="exp-h2">Fineprint</h2>
            <div class = "process-click-show" style="display: inline-block" onclick="toggle_visibility('.fine-items' , null )">Show/Hide fineprint</div>
            <div class="fine-list">
                <div style="display: none" class="fine-items">
                    <div class="fine-item">
                        <h3 class="fine-title">Built using SQL</h3>
                        <p class="bn-body-text">A platform we found to serve our clients perfectly. Outperforming everything in speed, efficiency, and ease of use.</p>
                    </div>
                    <div class="fine-item">
                        <h3 class="fine-title">Content to be provided</h3>
                        <p class="bn-body-text">We are not professional copywriters and request that the client supplies us with content. Alternatively, we can suggest a copywriter for us to work with in preparing the content for your database.</p>
                    </div>
                    <div class="fine-item">
                        <h3 class="fine-title">Documentation</h3>
                        <p class="bn-body-text">We provide you with all the documentation needed to work with SQL and your new database.</p>
                    </div>
                    <div class="fine-item">
                        <h3 class="fine-title">Support</h3>
                        <p class="bn-body-text">We make sure you have an understanding of how to use the system and support you through the process.</p>
                    </div>
                    <div class="fine-item">
                        <h3 class="fine-title">Split payment</h3>
                        <p class="finetext">We split the payments into two to make it easier for you. With 50% as deposit before the works start, and the other 50% after launch.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div  class="squiggles"> </div>

    <div class = "confused-section">
        <div class ="default-container">
            <h2 class="exp-h2">Confused?</h2>
            <h3 class="exp-h3">Good, the most important aspect of art is to invoke emotion, experimental music does that to the utmost degree.</h3>
            <p>Experimental Music. To explore your emotive range The music industry consists of the companies and independent artists that earn money by creating 
                    new songs and pieces and organising live concerts and shows, audio and video recordings, compositions and sheet music, 
                    and the organizations and associations that aid and represent music creators.</p>
            <div class = "double-button-container">
                <h2 class = "double-button-title">Click to Experience Experimental Music</h2>
                <div class = "double-buttons">
                    <a href="#top" class = "linkylink double-button">To the Top</a>
                    <a href="/requests" class = "linkylink double-button">Submit a Request</a>
                </div>
            </div>
        </div>
    </div>

    <div  class="squiggles"> </div>


    <script src="js/main.js"></script>

</body>
<footer>
    <%- include('footer.ejs') %>
</footer>
</html>